hr{ margin: 0; }
img {
    border: 0;
    color: #bbb;
    font-size: 12px;
    line-height: 1;
}
.relative { position: relative; }
.inline-block { display: inline-block; }
.fast-edit-articles .modal-body{ 
    position: relative;
    padding: 0 10px 10px; 
}
.fast-edit-articles .choose-all, .fast-edit-articles .custom-heading, .inner-modal .info-heading{
    padding: 7px 0;
    margin: 5px 0 10px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #777;
}
.fast-edit-articles .choose-all{ display: flex; align-items: center; flex-wrap: wrap; }
.fast-edit-articles .choose-all input[type="checkbox"]{
    margin: 0;
    vertical-align: middle;
}
.fast-edit-articles .choose-all .search{  
    height: 25px;     
    font-size: 13px;
    padding: 6px 35px 6px 6px;
    margin: 5px 0;
}
.fast-edit-articles .choose-all .form-control-feedback{     
    line-height: 25px;
    height: 25px;
    right: 20px;
    color: #bbb; 
    margin: 5px 0;
}
.fast-edit-articles .fast-filters label, .inner-modal label{
    font-weight: 600;
    margin: 10px 0 2px;
}
.fast-edit-articles select, .inner-modal select, .inner-modal input{
    width: 100%;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    color: #000;
    height: 34px;
    border-color: #ddd;
} 
.fast-edit-articles .FAProductListContent{
    max-height: 425px;
    overflow-y: auto;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
} 
.fast-edit-articles .FAProductListContent li{
    margin: 5px 0;
    padding: 10px 0;
    min-height: 100px;
    box-shadow: 0 0 4px #ccc;
    transition: .3s all;
    position: relative;
}
.flexed{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.fast-edit-articles .custom-heading{
    margin: 0;
    position: relative;
}
.fast-edit-articles .custom-heading li:nth-child(1){
    position: absolute;
    top: 5px;
    left: 6px;
    z-index: 1;
}
.fast-edit-articles .custom-heading li:nth-child(3){
    width: 12%;
}
.fast-edit-articles .FAProductListContent li:hover { box-shadow: 0 0 4px #666; }
.fast-edit-articles .FAProductListContent li > *{ display: inline-block; }
.fast-edit-articles .FAProductListContent li img{
    max-height: 65px;
    max-width: 100%;
    margin: 5px 15px;
    cursor: pointer;
    height: auto;
    width: auto;
}
.fast-edit-articles .FAProductListContent li input{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.fast-edit-articles .FAProductListContent li h3{ 
    font-size: 14px;
    cursor: pointer;
}
.fast-edit-articles .FAProductListContent li h3:hover{ color: #337ab7; }
.fast-edit-articles .FAProductListContent li a{
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 0;
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    color: #666;
    background: #fff;
}
.fast-edit-articles .fast-filters{
    margin: 5px 0 15px;
}
.fast-edit-articles .fast-filters button, .inner-modal .modal-btns button, .inner-modal .modal-btns a, .add-new-article button{
    padding: 4px 10px;
    background: #337ab7;
    font-size: 13px;
    color: #fff;
    margin: 10px 5px;
}
.inner-modal .modal-btns > .delete-me{
    background: #d9534f;
}
.fast-edit-articles .fast-filters button:hover, .inner-modal .modal-btns button:hover, .inner-modal .modal-btns a:hover, .add-new-article button:hover{
    box-shadow: 2px 2px 6px #666;
}
.fast-edit-articles .fast-filters div, .inner-modal .custom-col > div {
    display: inline-block;
    margin: 0 10px;
    width: 100%;
}
.inner-modal .custom-col { padding: 0 5px; }
.fast-edit-articles .fast-filters .first_1, 
.inner-modal .custom-col > div:nth-child(5), 
.fast-edit-articles .fast-filters div:nth-child(6),
.inner-modal .custom-col > div:nth-child(3){
    width: 15%;
}
.fast-edit-articles .fast-filters .first_2,
.inner-modal .custom-col > div:nth-child(1),
.inner-modal .custom-col > div:nth-child(2), 
.inner-modal .custom-col > div:nth-child(4),
.inner-modal .custom-col > div:nth-child(6),
.fast-edit-articles .fast-filters div:nth-child(3),
.fast-edit-articles .fast-filters div:nth-child(4),
.fast-edit-articles .fast-filters div:nth-child(5){
    width: 10%;
}  
/*====================*/
.JSInlineShort, .JSInlineFull{ 
    border: 1px dashed #000;
    outline: 1px dashed #f2f2f2 !important;
}
/*====================*/
.inner-modal .custom-dropdown, .inner-modal .modal-article-pic, .inner-modal, .custom-select-arrow{
    position: relative;
}
.inner-modal .custom-dropdown .short-group-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1;
    background: #fff;
    font-size: 12px;
    box-shadow: 0px 0px 1px 0px #0066cc;
}
.inner-modal .custom-dropdown .short-group-container ul li, .inner-modal select option{
    padding: 1px 6px;
    cursor: pointer;
    font-weight: normal;
    color: #000;
}
.inner-modal .custom-dropdown .short-group-container ul li:hover {
    background-color: #3399ff;
    color: #fff;
}
.inner-modal select option{ background: #f2f2f2; }
.inner-modal .modal-article-pic{ 
    display: inline-block;
    box-shadow: 1px 1px 4px #ccc;
    position: relative;
    height: 110px;
    width: 110px;
    margin: 5px; 
}
.inner-modal .modal-article-pic:hover{ box-shadow: 1px 1px 5px #666; }
.inner-modal .modal-article-pic input{
    width: auto;
    margin: 5px;
    height: auto;
}
.inner-modal .modal-article-pic span{
    font-size: 17px;
    line-height: 0;
    padding: 3px;
    color: red;
    cursor: pointer;
    display: inline-block;
}
.inner-modal .modal-article-pic img{
    max-height: 75px;
    margin: auto;
    padding: 5px;
}
.inner-modal .custom-file-input input{
    width: auto;
    height: 100%; 
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; 
    cursor: pointer;
    z-index: 1;
} 
.inner-modal .custom-file-input span { 
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 20px;
    margin: 5px; 
    cursor: pointer;
    box-shadow: 1px 1px 3px #ccc;
    font-size: 13px;
} 
.inner-modal .date-delete{
    position: absolute;
    top: 45%;
    right: 20px;
    color: red;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    z-index: 1;
 }
.custom-select-arrow:after {
    content: " ";
    border-top: 6px solid #808080;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.tooltipz {
    position: relative;
}
.tooltipz[aria-label]:hover:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 999;
    font-size: 11px;
    bottom: 100%;
    left: 50%;
    margin: 5px;
    font-weight: normal;
    white-space: nowrap;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #2b3a41;
    color: #fff;
    text-transform: capitalize;
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
    min-width: auto;
}
.modal-scroller .error{
    color: #ff0000;
    font-size: 12px;
    position: absolute; 
    min-width: 145px; 
    z-index: 1;
    background: #fff; 
    line-height: 1.1;   
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .centered-modal .modal-dialog {
        top: 5%;
    }
} 
@media screen and (max-width: 1600px) {
    .modal-scroller{ 
        overflow-y: scroll;
        max-height: 660px;
        height: 100%;
    }
    .centered-modal .modal {
        text-align: center;
        padding: 0 !important;
    } 
    .modal-scroller .modal-body{
        padding: 10px 5px;
    }
/*    .centered-modal .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    } */
    .centered-modal .modal-dialog {
        display: inline-block;
        text-align: left; 
    }
    .modal-scroller::-webkit-scrollbar {
        width: 0px;  
        background: transparent;  
    }
}
/*=====================*/ 

@media screen and (max-width: 480px) {
    .fast-edit-articles .fast-filters .first_1,
    .inner-modal .custom-col > div:nth-child(5),
    .fast-edit-articles .fast-filters div:nth-child(6),
    .inner-modal .custom-col > div:nth-child(3){ 
        width: 34%;
        margin: 0 7px;
     }
    .fast-edit-articles .fast-filters .first_2,
    .inner-modal .custom-col > div:nth-child(1),
    .inner-modal .custom-col > div:nth-child(2),
    .inner-modal .custom-col > div:nth-child(4),
    .inner-modal .custom-col > div:nth-child(6),
    .fast-edit-articles .fast-filters div:nth-child(3),
    .fast-edit-articles .fast-filters div:nth-child(4),
    .fast-edit-articles .fast-filters div:nth-child(5),
    .custom-col > div:nth-child(3){
        width: 25%;
        margin: 0 7px;
    }
    .fast-edit-articles .custom-heading li:nth-child(3){ width: 30%; }
    .fast-edit-articles .FAProductListContent li { min-height: 145px; }
    .inner-modal .modal-btns button, .inner-modal .modal-btns a{ padding: 4px 5px; margin: 10px 2px; } 
}